{% extends 'accounts/base.html' %}

{% block header_files %}

{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% include 'accounts/form_renderer.html' with form=form only %}
        <button type="submit">ورود</button>
    </form>


    <a href="{% url 'home_page'  %}">صفحه اصلی</a>

\
        <a href="{% url 'accounts:logout'  %}">خروج از حساب کاربری</a>



    {% if request.user.is_authenticated %}
        {{ request.user.profile.get_role_display }}
        {{ request.user.profile.role }}

    {% endif %}

{% endblock %}
