<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>قوانین</title>
</head>
<body>
        <div>          <a href="{% url 'home_page'  %}">صفحه اصلی</a></div>
    <div> قوانین این سامانه بدین شرح است:  </div>
    <div>1- برای ورود حتما باید ثبت نام کنید. بدون این مورد تنها می توانید از خدمات عمومی ما استفاده نمایید  </div>
    <div> 2- این سامانه مسئولیتی در زمینه ی احراز هویت افراد ندارد. صرفا سامانه ای برای خدمت رسانی و تسهیل امور می باشد.   </div>
    <div>  3- لطفا درب پارکینگ پارک نفرمایید</div>
    <div>4- هیچوقت یک ایراتی را تهدید نکنید </div>

</body>
</html>